<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gurux.Common" version="8.1.1907.301" targetFramework="net472" />
  <package id="Gurux.DLMS" version="9.0.1911.901" targetFramework="net472" />
  <package id="Gurux.Net" version="8.1.1909.601" targetFramework="net472" />
  <package id="Gurux.Serial" version="8.1.1910.3102" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>